---
interface Props {
	title: string;
	body: string;
	icon: string;
}

const { icon, title, body } = Astro.props;
---

<li class="list-none rounded p-4 lg:p-8 bg-white ring-1 ring-blue-100 hover:bg-gradient-to-r from-slate-100 to-blue-50">
    <h2 class="text-slate-900 flex items-center gap-1">
        <span class="material-symbols-outlined">{icon}</span>
        {title}
    </h2>
    <p class="text-slate-500 text-sm">
        {body}
    </p>
</li>
<style>

</style>
